<ion-header>
  <ion-toolbar>
    <ion-title>PerfumeStore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor">
    <h1>PerfumeStore</h1>

    <p class="subtitulo">
      Encuentra la fragancia perfecta para cada ocasión.
    </p>

    <ion-button expand="block" routerLink="/productos">
      Ver perfumes
    </ion-button>

    <ion-button expand="block" routerLink="/clientes">
      Clientes
    </ion-button>

    <ion-button expand="block" routerLink="/ventas">
      Ventas
    </ion-button>

    <ion-button expand="block" fill="outline" routerLink="/borradores">
      Borradores locales
    </ion-button>
  </div>
</ion-content>
